.how-we-work {
    padding-bottom: 55px;
}
.how-we-work__inner {
    max-width: 1170px;
    margin: 0 auto;
}
.how-we-work__items-wrapper {
}
.how-we-work__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:first-child {
        .how-we-work__item-description {
            opacity: 1;
        }
    }
}
.how-we-work__item:nth-child(1)::before {
    content: "";
    background: url(../images/how-we-work-decor1.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 100px;
    left: -27px;
}
.how-we-work__item:nth-child(2)::before {
    content: "";
    background: url(../images/how-we-work-decor2.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 115px;
    right: 240px;
}
.how-we-work__item:nth-child(3)::before {
    content: "";
    background: url(../images/how-we-work-decor3.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 130px;
    left: -48px;
}
.how-we-work__item-text {
}
.how-we-work__item-title {
    max-width: 380px;
}
.how-we-work__item-description {
    max-width: 420px;
    color: $primary-text-color;
    opacity: .7;
    &:nth-child(2) {
        margin-top: 30px;
    }
    &:nth-child(3) {
        margin-top: 25px;
    }
}
.how-we-work__img {
}